<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="scheduleFile" value="Assets\coding-assignment-schedule.json"/>                                                                                               
    <add key="orderFile" value="Assets\coding-assignment-order.json"/>
    <add key="OrderCapacity" value="20"/>
  </appSettings>
</configuration>